.art {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    flex-wrap: wrap;
    height: 400px;
    overflow: auto;
}

.art div {
    width: 250px;
    height: 200px;
    margin-bottom: 30px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.art::-webkit-scrollbar{
    width: 10px;
}

.art::-webkit-scrollbar-thumb{
    background-color: white;
    cursor: pointer;
}