html {
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    color: white;
    background: url("./../img/venom__wallpapper.png");
    background-color: black;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 450px;
    height: auto;
}

.main__content {
    display: flex;
    flex-direction: row;
}